{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% load crispy_forms_tags %}
{% load bootstrap_pagination %}
{% load highlight %}

{% block content %}
<style>
.bg-warning{
    background-color:yellow;
}
</style>
<div id="page-content-wrapper">

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
		

                <h1 class="fontsforweb_fontid_13973" style="text-transform:lowercase;"> newspade </h1>
                    <form method="get" action=".">
                        <table>
                            {{ form|crispy}}
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" value="Search" placeholder="Search for">
                                </td>
                            </tr>
                        </table>
                        <br/>
                        
                        {% if query %}
                            
                            
			<div class="panel">

                           
                            <h4>Results based on your Search</h4>
                            <hr>
                            <ol>
                            {% for result in page.object_list %}
                            <li><h2><a href='{{ result.object.url  }}'> {{ result.object.title }}</a></h2></li>
                            
                               <p>{% highlight result.object.description with query css_class "bg-warning"%}</p>
                                <ul id="menu"style="padding-left:0px;">
                                  <li align="top" >Company: {{result.object.company}}</li>
                                  <li><time> Last Updated on: {{result.object.date|date}}</time></li>
                                </ul> 
                                <hr/>
                            
                                <!-- </div> -->
                            {% empty %}
                                <p>No results found.</p>
                            {% endfor %}
                            </ol>
                            {% if page.has_previous or page.has_next %}
                                <div>
                                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                                    |
                                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                                </div>
                            {% endif %}
                            
                        {% else %}
                     
                          
                        {# show some examples to run #}
                        </div>
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

